@font-face {
  font-family: "Figtree";
  src: url("/src/Figtree-Regular.ttf?#iefix");
}

html {
  align-items: center;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #181825;
  font-family: figtree;
  color: #cdd6f4;
  text-align: center;
  font-size: 26px;
}

#easier {
  color: #cba6f7;
}

h1,h2,h3,h4 {
font-family: "Figtree";
  text-align: center;
}

p {
font-size: 12px;
font-family: "Figtree";
text-align: center;
}

#headr {
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

button {
    background-color: #313244;
    color: #cdd6f4;
    border: 2px solid #cba6f7;
    font-size: 22px;
    padding: 14px;
    border-radius: 4vw;
    transition: .2s;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 20px;
}

button:hover {
transform: scale(1.08);
margin-bottom: 10px;
transition: .2s;
font-weight: bold;
}

#card {
width: 200px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color:#181825;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  margin-left: 10px;
  align-items: center;
  border: 3px solid #1e1e2e;
  margin-left:auto;
  margin-right:auto;
}

#card button {
background-color: #585b70;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
margin: 10 20px;
margin-top: 10px;
margin-left: 0px;
}

#frame {
border: none;
width: 100%;
height: 650px;
}

#slash {
opacity: 0.6;
margin-left: 17px;
}

#fixed {
font-size: 16px;
}

#card img {
width: 50%;
height: 50%;
border-radius: 15px;
align-content: center;
margin-top: 10px;
}

#card-container {
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.header {
    background-color: #1e1e2e;
    position: absolute;
    left: 50%;
    top: 7.5%;
    transform: translateX(-50%);
    width: 70vw;
    height: 15vh;
    text-align: center;
    border-radius: 5vw;
    font-size: 36px;
}
.sub {
    font-size: 22px;
}
.main {
    background-color: #1e1e2e;
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 5vw;
    line-height: 52px;
}

#madewithlove {
  opacity: .4;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}