@font-face {
    font-family: Figtree;
    src: url(/src/Figtree-Regular.ttf);
  }

html {
    background-color: #313244;
    text-align: center;
    color: #cdd6f4;
}

h1,h2,h3,h4 {
  font-family: "Figtree";
}

p #title {
  font-size: 12px;
  font-family: "Figtree";
}

p:hover {
  text-decoration: underline;
}

#easier {
  font-size: 2vw;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}